<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<html>
<head><meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="render" content="webkit|ie-comp|ie-stand">
    <meta charset="UTF-8">
    <div th:include="inc/common"></div>
</head>


<body class="custom">
<div class="container-fluid">
    <div class="btn-toolbar">
        <!-- <a href="javascript:history.back();"  class="btn btn-info"><img src="__PUBLIC__/images/icon/return.png"/> 返回</a> -->
    </div>
    <form action=""  class="layui-form">
        <input type="hidden" name="registerId" th:value="${personRegisterDo.id}">
        <input type="hidden" name="applyName" th:value="${personRegisterDo.name}">
        <table class="youAdd" width="100%">
            <tr>
                <td class="TDleft" width="6%">姓名：</td>
                <td th:text='${personRegisterDo.name}'></td>
                <td class="TDleft no-star" rowspan="9" width="136" colspan="2">
                    <img style='width:260px;height:260px;' th:if="${personRegisterDo.personImgIds == ''}" src="../images/lawContro/face_msrpot.png"/>
                    <img style='width:260px;height:260px;' th:if="${personRegisterDo.personImgIds != ''}" th:src="|/FileUpload/getAttach.json?id=${personRegisterDo.personImgIds}|"/>
                </td>
            </tr>
            <tr>
                <td class="TDleft">性别：</td>
                <td><span th:include="component/selectCombo(id='sex',name='sex',dictType='SEX',defaultValue=${personRegisterDo.sex},verify='',disabled='1')"/></td>

            </tr>
            <tr>
                <td class="TDleft">证件号码：</td>
                <td th:text='${personRegisterDo.cardNo}'></td>
            </tr>
            <tr>
                <td class="TDleft">联系电话：</td>
                <td th:text='${personRegisterDo.phone}'></td>
            </tr>
            <tr>
                <td class="TDleft no-star">户籍地址：</td>
                <td colspan="4" th:text='${personRegisterDo.domicilePlace}'></td>
            </tr>
            <tr>
                <td class="TDleft" width="100">出生日期：</td>
                <td th:if="${personRegisterDo.birthDate}" th:text="${#dates.format(personRegisterDo.birthDate, 'yyyy-MM-dd')}"></td>
            </tr>
            <tr>
            	<td class="TDleft">证件类型：</td>
                <td><span th:include="component/selectCombo(id='cardType',name='cardType',dictType='PER_INFO_CARD_TYPE',defaultValue=${personRegisterDo.cardType},verify='',disabled='1')"/></td>
            </tr>
            <tr>
                <td class="TDleft">工作单位：</td>
                <td th:text='${personRegisterDo.workUnit}'></td>
            </tr>
            <tr>
                <td class="TDleft">人员类别：</td>
                <td><span th:include="component/selectCombo(id='peopleType',name='peopleType',dictType='PEOPLE_TYPE',defaultValue=${personRegisterDo.peopleType},verify='',disabled='1')"/></td>
            </tr>

            <tr>
                <td class="THtitle" colspan="4">人员入办案区信息</td>
            </tr>
            <tr>
                <td class="TDleft">入办案区时间：</td>
                <td th:if="${personRegisterDo.inTime}" th:text= "${#dates.format(personRegisterDo.inTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td class="TDleft">到案方式：</td>
                <td >
                <span th:include="component/selectCombo(id='inType',name='inType',dictType='IN_TYPE',defaultValue=${personRegisterDo.inType},verify='',disabled='1')"/>
               	</td>
            </tr>
            <tr>
                <td class="TDleft">入办案区原因：</td>
                <td>
                	<span th:include="component/selectCombo(id='inReason',name='inReason',dictType='PER_IN_REASON',defaultValue=${personRegisterDo.inReason},verify='',disabled='1')"/>
                </td>
                <td class="TDleft">特殊群体：</td>
                <td >
                	<span th:include="component/selectCombo(id='specialGroup',name='specialGroup',dictType='PER_SPECIAL_GROUP',defaultValue=${personRegisterDo.specialGroup},verify='',disabled='1')"/>
                </td>
            </tr>
            <tr>
                <td class="TDleft">自述有无疾病、<br/>伤情及受伤原因：</td>
                <td colspan="3" th:text='${personRegisterDo.checkBodyResult}'>
                </td>
            </tr>
            <tr>
                <td class="TDleft">检查处理情况</td>
                <td colspan="3" th:text='${personRegisterDo.medicalHistory}'>
                </td>
            </tr>
            <tr>
                <td class="THtitle" colspan="4">延期留置信息</td>
            </tr>
            <input type="hidden" name="user_id" th:value="${personRegisterDo.id}"/>
            <tr>
                <td class="TDleft require">延期留置时限：</td>
                <td colspan="3"><span  class="wh100" th:include="component/selectCombo(id='delayHour',name='delayHour',dictType='DELAY_HOUR',defaultValue='',verify='required')"/></td>
            </tr>
            <tr>
                <td class="TDleft require">审核角色：</td>
                <td colspan="3">
                	<span style="width: 100%; height: 100%;">
                		<select style="display: block;" th:id="roleId" th:name="roleId" lay-verify="" lay-search lay-ignore required="true">
						</select>
					</span>
                </td>
            </tr>
            <tr>
                <td class="TDleft require">延期留置原因：</td>
                <td colspan="3"><textarea rows="5" style="width:90%" name="applyReason" lay-verify="required"></textarea>
                </td>
            </tr>
        </table>

        <div class="btn-youAdd">
        	<button class="btn btn-primary" lay-submit lay-filter="formDemo">保存</button>
        	<button class="btn btn-primary" id="returnIndex">返回</button>
        </div>
    </form>


</div>
</body>
<script type="text/javascript">
//加载角色下拉选
$(function () {
    var res = new PublicAjax('/Role/listRoles.json');
    if (res.success) {
        var data = res.content;
        if(!data){
        	return;
        }
        if (data.length > 0) {
            $.each(data, function (i, obj) {
                $('#roleId').append('<option selected="selected" value=' + obj.id + '>' + obj.roleName + '</option>');
            });
        }
    }
});
    layui.use(['layer','form'], function () {
        var layer = layui.layer;
        var form = layui.form;
        form.on('submit(formDemo)', function(data){
            var res = new PublicAjax('/DelayConfirm/saveDelayConfirm.json', data.field);
            if(res.success){
                layer.msg("保存成功!");
                var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                parent.table.loadBody();//调用父窗口刷新整个
                parent.layer.close(index);//关闭弹窗
            }else{
                layer.msg("数据保存错误!");
            }
        });
    });
    //返回按钮，关闭窗口
    $("#returnIndex").click(function(){
    	var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        parent.layer.close(index);//关闭弹窗
    })
</script>

