<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<html>
<head><meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="render" content="webkit|ie-comp|ie-stand">
    <meta charset="UTF-8">
    <title>延期留置审核</title>
	<div th:include="inc/common-new"></div>
	<div th:include="inc/common-table"></div>
</head>
<body>
    <div id="leftBox" style="width:100%;height:100%">
        <div class="posRel wh100">
            <div class="searchBox posAbs cen">
                <div class="posRel wh100">
                    <div class="editBox posAbs">
<!--                         <ul class="wh100"> -->
<!--                             <li> -->
<!--                                 <div class="posRel wh100" id="addBtn"> -->
<!--                                     <img src="../images/perRegis/renyuandengji_bg1.png" alt="" class="bg posAbs wh100"> -->
<!--                                     <img src="../images/perRegis/renyuandengji_tubiao_xinzeng.png" alt="" class="typeImg posAbs mid"> -->
<!--                                     <span class="posAbs mid">新增</span> -->
<!--                                 </div> -->
<!--                             </li> -->
<!--                         </ul> -->
                    </div>
 <!--                     通用高级查询html -->
					<div th:include="inc/table-query"></div>
                </div>
            </div>
<!--        table公用数据html -->
			<div id="personRegis-table" th:include="inc/table-dataField"></div>
            <img src="../images/perRegis/renyuandengji_biankaungzuo.jpg" alt="" class="bgImg posAbs wh100">
        </div>
    </div>
</body>
<script type="text/javascript">
	var registerId = 27;
	//var registerId = -1;
    var table = new iotTable({
        dataUrl : '/DelayConfirm/queryPage.json',
        renderTo : '#personRegis-table',
        select : false,
        heads : [{
            text : '申请人',
            width : 8,
            name : 'applyName'
        },{
            text : '申请原因',
            width : 20,
            name : 'applyReason'
        },{
            text : '申请时间',
            width : 13,
            name : 'applyTime',
            dateFormat : 'yyyy-MM-dd hh:mm:ss'
        },{
            text : '审核人',
            width : 8,
            name : 'auditUser'
        },{
            text : '审核时间',
            width : 13,
            name : 'auditTime',
            dateFormat : 'yyyy-MM-dd hh:mm:ss'
        },{
            text : '状态',
            width : 8,
            name : 'status',
            dicCode : 'AUDIT_STATUS'
        },{
            text : '操作',
            width: 20,
            name : 'status',
            renderHtml : function(val,originalVal){
            	if(val == '3'){
        			return "<a href='#' class='btn btnLB btn-success' onclick='toCheck(this)' lay-event='点击审批'>点击审批</a>";
        		}else{
        			return "<a href='#' class='btn btnLB btn-success' onclick='toDetail(this)' lay-event='查看审批记录'>查看审批记录</a>";
        		}
        	}
        }],
        queryFields : [{
            text : '申请时间',
            name : 'applyStartTime',
            type : 'date'
        },{
            text : '至',
            name : 'applyEndTime',
            type : 'date'
        },{
            text : '申请人',
            name : 'applyName'
        },{
            text : '申请原因',
            name : 'applyReason'
        },{
            text : '审批人',
            name : 'auditUser'
        }]
    });
    table.init();
    layui.use(['layer'], function () {
        var layer = layui.layer;
        //新增
        $("#addBtn").click(function () {
            layer.open({
                type: 2,
                title: false,
                area: ['80%', '90%'],
                content: "/DelayConfirmHtml/add.html?registerId="+registerId
            });
        });
    });

    function toCheck(me){
    	var id = $(me).parents(".body-data-list").data("id");
    	  layer.open({
              type: 2,
              title:false,
              area: ['80%', '90%'],
              content: '/DelayConfirmHtml/edit.html?id='+id
          });
    }
    function toDetail(me){
    	var id = $(me).parents(".body-data-list").data("id");
    	  layer.open({
              type: 2,
              title:false,
              area: ['80%', '90%'],
              content: '/DelayConfirmHtml/detail.html?id='+id
          });
    }
</script>
</html>
