<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<div th:fragment="common">
    <title>公安机关执法办案管控平台</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/tableBoxCss.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../css/index-common.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../../css/tableBox.css}" />
    <script th:src="@{../js/module.js}"></script>
    <script th:src="@{../js/tableBoxJs.js}"></script>
    <script th:src="@{../js/paging.js}"></script>
</div>
</html>
