<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<span th:fragment="common">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" th:href="@{../../css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../../css/theme.css}"/>

    <link rel="shortcut icon" th:href="@{../../images/frame/logo.png}"
          type="image/x-icon">
    <script th:src="@{../../js/jquery.min.js}"></script>
    <script th:src="@{../../js/sys-common.js}"></script>
    <link th:href="@{../vendor/layui/css/layui.css}" rel="stylesheet"/>
    <script th:src="@{../vendor/layui/layui.js}"></script>
    <link th:href="@{../css/main.css}" rel="stylesheet"/>
    <script th:src="@{../js/main.js}"></script>
</span>
</html>
