<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<div th:fragment="common">
    <link rel="stylesheet" type="text/css" th:href="@{../../css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../../css/theme.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{../../vendor/layui/css/layui.css}"/>

    <script th:src="@{../../js/jquery.min.js}"></script>
    <script th:src="@{../../vendor/layer/layer.js}"></script>
    <script th:src="@{../../vendor/layui/layui.js}"></script>
    <script th:src="@{../../js/sys-common.js}"></script>
    <script th:src="@{../../js/socket.io.js}"></script>
    <script th:src="@{../../vendor/validate/jquery.validate.min.js}"></script>
    <script th:src="@{../../vendor/validate/validate.expand.js}"></script>
    <script th:src="@{../../vendor/validate/localization/messages_zh.js}"></script>
    <script th:src="@{../../js/iconfont.js}"></script>
    <script th:src="@{../../js/echarts-all.js}"></script>
</div>
</html>
