    <div class="selectImgBox posAbs">
        <div class="posRel wh100">
            <img src="../images/perRegis/down.png" alt="" class="downImg posAbs mid">
            <img src="../images/perRegis/up.png" alt="" class="upImg posAbs mid">
            <span class="posAbs mid">高级查询</span>
        </div>
    </div>
    <div class="adSearchBox posAbs">
        <span class="">高级查询</span>
        <div class="searConBox clear">
        </div>
        <section class="searchBtnBox">
            <div class="posRel wh100">
                <img src="../images/perRegis/renyuandengji_bg4.png" alt="" class="bg posAbs wh100">
                <img src="../images/perRegis/renyuandengji_tubiao_chaxun.png" alt="" class="secImg posAbs mid">
                <span class="posAbs mid">查询</span>
            </div>
        </section>
    </div>