<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<!--上传附件组件用规范
<div th:include="component/selectComp(id='表单元素ID',name='表单元素名称',label='表单标签名称',dictType='字典类型',defaultValue='默认值')"></div>
-->
<head>
    <meta charset="utf-8"/>
    <span th:include="inc/common2"></span>
</head>
<span th:fragment="uploadComp(id,name,label)">
    <!--<button type="button" class="layui-btn" id="test1">-->
    <!--<i class="layui-icon">&#xe67c;</i><span th:text="${label}"></span>-->
    <div class="layui-upload">
  <button type="button" class="layui-btn" id="test2">多图片上传</button>
  <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
    预览图：
    <div class="layui-upload-list" id="demo2"></div>
 </blockquote>
</div>
</span>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {

    });
    /*]]>*/
    layui.use(['upload', 'layer'], function () {
        var upload = layui.upload;
        var layer = layui.layer;
        upload.render({
            elem: '#test2'
            , url: '/upload/'
            , multiple: true
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo2').append('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img">')
                });
            }
            , done: function (res) {
                //上传完毕
            }
        });

    });
</script>

</html>


