<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>左侧菜单栏</title>
    <div th:include="inc/common"></div>
</head>

<body id="div_left">
<div class="sidebar-nav">
    <a th:each="menu,iterStat:${menus}" th:href="${menu.action}"
       target="mainFrame"
       th:onclick="|tuleft(${iterStat.index});|"
       th:id="|lefttu${iterStat.index}|"
    >
        <i th:class="|fa icon-nav${iterStat.index}|"></i>
        <span th:text="${menu.menuname}"></span>
    </a>

</div>
<script>
    function tuleft(idt) {
        var nametu = "lefttu" + idt;
        var tp = document.getElementById(nametu);
        tp.className = "current";	//当前值

        for (var i = 0; i < 9; i++) {
            var nametu2 = "lefttu" + i;
            if (i != idt * 1) {
                var tp2 = document.getElementById('lefttu' + i);
                if (tp2 != undefined) {
                    tp2.className = "";
                }	//正常值
            }
        }
    }
</script>
</html>
