<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>储物柜管理</title>
    <div th:include="inc/common"></div>
</head>
<!--主体开始-->
<div class="content">
    <ul class="breadcrumb">
        <li class="active">储物柜管理</li>
    </ul>
    <div class="container-fluid">
        <div class="layui-form btn-toolbar">
            储物柜编号：<input type="text" id="lockerNo" class="input-medium"
                         name="lockerNo">&nbsp;
            <button class="layui-btn layui-btn-warm" id="chax"
                    data-type="reload"><img
                    th:src="@{../../images/icon/query.png}"/> 查询
            </button>
        </div>
        <div class="btn-toolbar">
                <span class="pull-left">
                     <a class="btn btn-success" id="add"><imgn
                             th:src="@{../../images/icon/plus.png}"/> 新增</a> &nbsp;&nbsp;
                </span>
            <span class="pull-left">
                    <a class="btn btn-danger">删除</a>
                </span>
        </div>
        <table class="table-mins" id="demo" lay-filter="test"></table>
    </div>
</div>

<script>
    layui.use('table', function () {
        var table = layui.table;
        //table内容渲染
        table.render({
                         elem: '#demo',
                         url: '/Locker/queryPage.json',
                         cols:
                             [[
                                 {type: 'checkbox'},
                                 {type: 'numbers'},
                                 {
                                     field: 'type',
                                     width: 100,
                                     align: 'center',
                                     title: '类型'
                                 },
                                 {
                                     field: 'lockerNo',
                                     width: 150,
                                     align: 'center',
                                     title: '编号',
                                     sort: true
                                 },
                                 {
                                     field: 'useStatus',
                                     width: 100,
                                     align: 'center',
                                     title: '使用状态'
                                 },
                                 {
                                     field: 'status',
                                     width: 100,
                                     align: 'center',
                                     title: '状态'
                                 },
                                 {
                                     field: 'lock_status',
                                     width: 300,
                                     title: '电源状态',
                                     align: 'center',
                                     toolbar: '#barDemo'
                                 },
                                 {
                                     fixed: 'right',
                                     width: 320,
                                     align: 'center',
                                     toolbar: '#optioins'
                                 }
                             ]],
                         limits: [5, 10, 20],
                         page:
                             true
                     });
        //操作列方法绑定
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            var event = obj.event;
            alert(data.lockerStatus);
            alert(event);
        });

        $('#chax').on('click', function () {
            table.reload('demo', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                , where: {
                    lockerNo: $('#lockerNo').val()
                }
            });
        });

    });
    layui.use('layer', function () {
        var layer = layui.layer;
        $('#add').on('click', function () {
            layer.open({
                           type: 2,
                           title: '弹出窗口Demo',
                           shadeClose: true,
                           area: ['1000px', '560px'],
                           content: 'http://www.baidu.com'
                       });
        });
    });
</script>

<script type="text/html" id="barDemo">
    {{#  if(d.lockerStatus == '1'){}}
    <a href="#" class="btn btnLB btn-success" lay-event="入所柜门控制">入所柜门控制</a>
    {{#  } else { }}
    <a href="#" class="btn btnLB" lay-event="入所柜门控制">入所柜门控制</a>
    {{#   }}}

    {{#  if(d.outLockerStatus == '1'){}}
    <a href="#" class="btn btnRB btn-success" lay-event="出所柜门控制">出所柜门控制</a>
    {{#  } else { }}
    <a href="#" class="btn btnRB" lay-event="出所柜门控制">出所柜门控制</a>
    {{#   }}}
</script>
<script type="text/html" id="optioins">
    <a class="layui-btn layui-btn-primary layui-btn-xs"
       lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
</html>


