<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>权限管理</title>
   		<link rel="stylesheet" type="text/css" href="../css/common.css">
    	<link rel="stylesheet" type="text/css" href="../css/theme.css">
		<script type="text/javascript" src="../js/iconfont.js"></script>
	</head>
<body>

<div id="container">
    <!--头部信息栏开始-->    
    <div id="div_top">
        <div class="gs_logo">
            <img src="../images/frame/logo.png"/>
            <p>
                <span class="r_word">公安机关执法办案管控平台</span>
                <span class="word_2">GONGANJIGUANZHIFABANANGUANKONGPINGTAI</span>
            </p>
        </div>
        <div class="top_right">
            <ul class="top_user">
              <li class="name1">用户名：<span>Admin</span></li>
              <li class="name2">角色：<span>法制队长</span></li>
            </ul>
            <ul class="top_icon">
              <li><a href="../user/news.html" class="top_a"><i class="iconfont icon">&#xe6fa;</i>系统管理</a></li>
              <li><a href="../user/user.html" class="top_a"><i class="iconfont icon">&#xe6c6;</i>用户管理</a></li>
              <li><a href="../user/userPassword.html" class="top_a"><i class="iconfont icon">&#xe62f;</i>修改密码</a> </li>
              <li><a href="javascript:void(0);" class="top_a"><i class="iconfont icon">&#xe61d;</i>退出</a></li>
            </ul>
        </div>
    </div>
    <!--左侧菜单栏开始-->  
    <div id="div_left">
        <div class="sidebar-nav"> 
              <a href="../baqry/index.html" class="current"><i class="iconfont icon">&#xe62a;</i>人员登记管理</a>
              <a href="../qqyz/index.html"><i class="iconfont icon">&#xe686;</i>亲情驿站</a>
              <a href="../njxx/index.html"><i class="iconfont icon">&#xe61c;</i>尿检信息</a>
              <a href="../yjgl/index.html"><i class="iconfont icon">&#xe621;</i>预警管理</a>
              <a href="../xxwsgl/index.html"><i class="iconfont icon">&#xe61f;</i>询讯问室管理</a>
              <a href="../csqw/index.html"><i class="iconfont icon">&#xe60f;</i>出所取物</a>
              <a href="../rycssh/index.html"><i class="iconfont icon">&#xe8ad;</i>人员出所审核</a>
              <a href="../yqgysh/index.html"><i class="iconfont icon">&#xe66e;</i>延期关押审核</a>
        </div>
  </div>
  <!--主体开始--><div class="content">
        
        <ul class="breadcrumb">
            <li><a href="user.html">用户管理</a> <span class="divider">/</span></li>
            <li class="active">用户编辑</li>
        </ul>

        <div class="container-fluid">
<br/>
    <table class="youAdd">
            <tr>
                <td class="TDleft"><label>用户名：</label></td>
                <td><input type="text" value="" class="input-large">
                <span class="muted">用户名范围在2~10位字符</span>
                </td>
           </tr>
            <tr>
                <td class="TDleft"><label>真实姓名：</label></td>
                <td><input type="text" value="" class="input-large">
                <span class="muted">填写个人真实姓名</span>
                </td>
            </tr>
            <tr>
                <td class="TDleft"><label>身份证号：</label></td>
                <td><input type="text" value="" class="input-large">
                <span class="muted">填写个人真实身份证号</span></td>
            </tr>
            <tr>
                <td class="TDleft"><label>组织机构：</label></td>
                <td><select>
                        <option>下陆区分局团城山派出所</option>
                        <option>箭楼下社区</option>
                        <option>皇姑岭社区</option>
                        <option>柯尔山社区</option>
                        <option>袁家畈社区</option>
                        <option>陈伯臻社区</option>
                        <option>青龙山社区</option>
                    </select>
                <span class="muted">请选择组织机构</span></td>
            </tr>
            <tr>
                <td class="TDleft"><label>角色：</label></td>
                <td><input type="text" value="" class="input-large">
                <a href="#">选择</a></td>
            </tr>
            <tr>
                <td class="TDleft"><label>手机号码：</label></td>
                <td><input type="text" value="" class="input-large">
                <span class="muted">手机号码</span></td>
            </tr>
            <tr>
                <td class="TDleft"><label>办公电话：</label></td>
                <td><input type="text" value="" class="input-large">
                <span class="muted">办公电话</span></td>
            </tr>
            <tr>
                <td class="TDleft"><label>常用邮箱：</label></td>
                <td><input type="text" value="" class="input-large">
                <span class="muted">请输入个人邮箱</span></td>
            </tr>
    </table>
    
<br/>
     <div class="btn-youAdd">
        <button class="btn btn-primary"><img src="../images/icon/clipboard.png" class="clipboard"/> 保存</button>
    </div>
  
            </div>
        </div>
  
</div>     

</body>
</html>

