<extend name="Public/base" />

 <block name="js">
        <script src="__PUBLIC__/vendor/validate/jquery.js"></script>
        <script src="__PUBLIC__/vendor/validate/jquery.validate.min.js"></script>
        <script src="__PUBLIC__/vendor/validate/validate.expand.js"></script>
        <script src="__PUBLIC__/vendor/validate/localization/messages_zh.js"></script>
        <script src="__PUBLIC__/vendor/layer/layer.js"></script>
    </block>


<block name="main">
  <!--主体开始--><div class="content">
        
        <ul class="breadcrumb">
            <li><a href="user.html">用户管理</a> <span class="divider">/</span></li>
            <li class="active">修改密码</li>
        </ul>

        <div class="container-fluid">
        <form  action="__MODULE__/User/updatepwd" id="form1"  method="post"  > 
<br/><table class="youAdd">            
            <tr>
                <td class="TDleft"><label>原始密码：</label></td>
                <td width="360"><input type="password" value="" class="input-large" name="oldpassword" required="true">
                </td>
           </tr>
            <tr>
                <td class="TDleft"><label>新密码：</label></td>
                <td><input type="password" value="" class="input-large" minlength="6" maxlength="18" name="newpassword" required="true">
                </td>
           </tr>
            <tr>
                <td class="TDleft"><label>重复密码：</label></td>
                <td><input type="password" value="" class="input-large" minlength="6" maxlength="18" name="againpassword" required="true" ></td>
           </tr>
    </table>
<br/>
     <div class="btn-youAdd">
        <button class="btn btn-primary">确定</button>
    </div>
  
  </form>
            </div>
        </div>
  
</div>     

</block>


<block name="script">
   
   <script>
     
       $().ready(function() {
       $("#form1").validate({
        // 添加自定义验证规则
         // rules: {
         //    phone: {    //验证手机号
         //        required:true,
         //        isMobile: true
         //       },
         //  },
          submitHandler:function(form){
            // alert("提交事件!");   
            form.submit();
          }    

       });

     });

   </script>

 </block>
