@charset "utf-8";

select::-ms-expand {
    display: none;
}

select {
    width: 206px;
    height: 30px;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 14px;

    color: #00fcff;
    border: none;
    background-color: #143a62;
    /*在选择框的最右侧中间显示小箭头图片*/
    background-image: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;

    -webkit-appearance: none;
       -moz-appearance: none;
    /*很关键：将默认的select选择框样式清除*/
            appearance: none;
}

select option {
    width: 100%;
}
