@font-face {
	font-family: "iconfont"; url('../iconfont/iconfont.eot?t=1502871822833'); /* IE9*/
	src: url('../iconfont/iconfont.eot?t=1502871822833#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../iconfont/iconfont.woff?t=1502871822833') format('woff'), /* chrome, firefox */ url('../iconfont/iconfont.ttf?t=1502871822833') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../iconfont/iconfont.svg?t=1502871822833#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont { box-shadow:0px -1px 0px rgba(255,255,255,0.1); color:#fff;
	font-family: "iconfont" !important;
	font-size: 80px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-jingcha:before {
	content: "\e60e";
}
.icon-yun:before {
	content: "\e607";
}
.icon-gonganzaixian:before {
	content: "\e60f";
}
.icon-gonganbeian:before {
	content: "\e60b";
}
.icon-an-:before {
	content: "\e600";
}
.icon-gonggonganquan:before {
	content: "\e639";
}
.icon-gonganxiaofang:before {
	content: "\e6e6";
}
.icon-gonganzhibiao:before {
	content: "\e60a";
}
