#loginBox {
    width: 100%;
    height: 100%;
    background: url("../images/login/bg.png") no-repeat;
    background-size: cover;
}

#loginBox #logBox {
    width: 95%;
    height: 100%;
    left: 2.5%;
}

#loginBox .boxCon .conBox {
    width: 100%;
    height: 100%;
}

#loginBox .boxCon .conBox .logoBox {
    height: 70px;
    top: 5%;
    left: 5%;
}

#loginBox .boxCon .conBox .logoBox img {
    width: 55px;
    height: auto;
    margin-right: 10px;
    margin-top: 7.5px;
    float: left;
}

#loginBox .boxCon .conBox .logoBox .desc {
    float: left;
}

#loginBox .boxCon .conBox .logoBox .desc .zhcn {
    font-size: 30px;
    color: #00e2ec;
    letter-spacing: 5px;
    line-height: 70px;
}

.cirBox {
    width: 600px;
    height: 350px;
    top: 30%;
    left: 5%;
}

.cirBox .kejixian {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.cirBox .circleBox1 {
    width: 100px;
    height: 100px;
    top: 250px;
    left: -50px;
}

.circleBox1 span {
    font-size: 25px;
    color: #4cd1fe;
}

.circleBox2 {
    width: 60px;
    height: 60px;
    top: 95px;
    left: 114px;
}

.circleBox2 span {
    font-size: 20px;
    color: #4cd1fe;
}

.circleBox3 {
    width: 60px;
    height: 60px;
    top: 317px;
    left: 255px;
}

.circleBox3 span {
    font-size: 20px;
    color: #4cd1fe;
}

.circleBox4 {
    width: 60px;
    height: 60px;
    top: 314px;
    left: 440px;
}

.circleBox4 span {
    font-size: 20px;
    color: #4cd1fe;
}

.circleBox5 {
    width: 60px;
    height: 60px;
    top: 33px;
    left: 432px;
}

.circleBox5 span {
    font-size: 20px;
    color: #4cd1fe;
}

.circleBox6 {
    width: 100px;
    height: 100px;
    top: -50px;
    left: 550px;
}

.circleBox6 span {
    font-size: 20px;
    color: #4cd1fe;
}

.circleBox div span,
.circleBox div img {
    position: absolute;
}

.circleBox div span {
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.circleBox div .imgS {
    width: 70%;
    height: auto;
    top: 15%;
    left: 15%;
    transition: all 700000000s linear;
    border-radius: 50%;
}

.circleBox div .imgB {
    width: 100%;
    height: auto;
    transition: all 400000000s linear;
    border-radius: 50%;
}

.circleBox div .rotateZ {
    transform-origin: center, center;
    transform: rotate(10800000000deg);
    -ms-transform: rotate(10800000000deg);
    /* IE 9 */
    -moz-transform: rotate(10800000000deg);
    /* Firefox */
    -webkit-transform: rotate(10800000000deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(10800000000deg);
}

.circleBox div .rotateF {
    transform-origin: center, center;
    transform: rotate(-10800000000deg);
    -ms-transform: rotate(-10800000000deg);
    /* IE 9 */
    -moz-transform: rotate(-10800000000deg);
    /* Firefox */
    -webkit-transform: rotate(-10800000000deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(-10800000000deg);
}

.logBox {
    width: 430px;
    height: 270px;
    top: 35%;
    right: 6%;
}

.logBox .bg {
    width: 100%;
    height: 100%;
}

.logBox .iptBox {
    border-bottom: 0.5px solid #015289;
    width: 300px;
    height: 50px;
}

.logBox .iptBox img {
    width: 25px;
    height: auto;
}

.logBox .iptBox input {
    width: 85%;
    height: 100%;
    left: 40px;
    color: #00a6ec;
    font-size: 16px;
    background-color:rgba(3, 34, 74, 1);
    padding:0 6px;
}

.logBox .iptBox .pla {
    font-size: 16px;
    color: #00a6ec;
    width: 85%;
    height: 100%;
    left: 40px;
    line-height: 50px;
}

.nameBox {
    top: 50px;
}

.PassBox {
    top: 110px;
}

.loginBtn {
    width: 300px;
    height: 50px;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 50px;
    text-align: center;
    top: 175px;
    background: -webkit-linear-gradient(#0b80b0, #0b80b0, #0b80b0);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#0b80b0, #0b80b0, #0b80b0);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#0b80b0, #0b80b0, #0b80b0);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(#0b80b0, #0b80b0, #0b80b0);
    /* 标准的语法 */
    border-radius: 5px;
    background: #0b80b0;
}

.loginBtn:active {
    background: -webkit-linear-gradient(#00ccff, #00b8ff, #0099ff);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#00ccff, #00b8ff, #0099ff);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#00ccff, #00b8ff, #0099ff);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(#00ccff, #00b8ff, #0099ff);
    /* 标准的语法 */
    background: #00ccff;
}

.descCon {
    font-size: 14px;
    color: #00b5ff;
    top: 235px;
    width: 100%;
    text-align: center;
}