<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>日志管理</title>
    <div th:include="inc/common"></div>
</head>
<body>
<!--主体开始-->
<div class="layui-fluid">
    <div class="layui-row layui-bg-gray" style="height: 20px;">
        <span>日志管理</span>
    </div>
    <!--条件区 -->
    <div class="layui-row layui-form" style="text-align:center;margin-top:10px;">
        <div class="layui-co1-md1">
            <div class="layui-form-item" style="margin-bottom:0px;">
				<label class="layui-form-label">操作时间</label>
				<div class="layui-input-inline" style="width: 200px;">
					<input type="text" name="startTime" id="startTime" autocomplete="off" class="layui-input" />
				</div>
				<label class="layui-form-mid">~</label>
				<div class="layui-input-inline" style="width: 200px;">
					<input type="text" name="endTime" id="endTime" autocomplete="off" class="layui-input"/>
				</div>
				<label class="layui-form-label">操作类型</label>
				<div class="layui-input-inline" style="width: 150px;">
					<span th:include="component/selectCombo(id='type',name='type',dictType='LOG_OPT_TYPE',defaultValue='',verify='')"/>
				</div>
				<div class="layui-inline">
				    <button class="layui-btn layui-btn-warm" id="queryBut"><i class="layui-icon">&#xe615;</i>查询</button>
				</div>
			</div>
        </div>
    </div>
    <!-- 表格区 -->
    <div class="layui-row">
        <table class="table-mins" id="demo" lay-filter="test"></table>
    </div>
</div>
</body>
<script th:inline="javascript">
//table字典
var opt_type = findDicItems('LOG_OPT_TYPE');
var opt_module = findDicItems('LOG_OPT_MODULE');

    layui.use(['table', 'layer','laydate'], function () {
        var table = layui.table
        laydate = layui.laydate;
        //table内容渲染
        table.render({
            elem: '#demo',
            url: '/Log/queryPage.json',
            cols:
                [[
                    {type: 'checkbox'},
                    {type: 'numbers'},
                    {
                        field: 'module',
                        align: 'center',
                        title: '操作模块',
                        templet: function(d){
                        	var tname = "";
                        	$.each(opt_module,function(i, obj){
                        		if(obj.code == d.module){
                        			tname = obj.name;
                        		}
                        	})
							return tname;
                        }
                    },{
                        field: 'type',
                        align: 'center',
                        title: '操作类型',
                        templet: function(d){
                        	var tname = "";
                        	$.each(opt_type,function(i, obj){
                        		if(obj.code == d.type){
                        			tname = obj.name;
                        		}
                        	})
							return tname;
                        }
                    },{
                        field: 'ip',
                        align: 'center',
                        title: 'ip'
                    },{
                        field: 'content',
                        align: 'center',
                        title: '操作内容'
                    },{
                        field: 'createTime',
                        align: 'center',
                        title: '操作时间',
                        templet: function(d){
                        	var date = new Date(d.createTime);
                        	return date.toLocaleString();
                        }
                    },{
                        fixed: 'right',
                        align: 'center',
                        toolbar: '#optioins'
                    }
                ]],
            limits: [5, 10, 20],
            page: true
        });
        //操作列方法绑定
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            var event = obj.event;

            if (event == 'detail') {
                //查看详情
                var index = layer.open({
                    type: 2,
                    title: "查看日志详情",
                    shadeClose: true,
                    closeBtn: 1,
                    area: ['500px', '500px'],
                    content: '/LogHtml/detailDialog.html?id=' + data.id
                });
            }
        });
        //绑定查询点击事件
        $('#queryBut').on('click', function () {
            table.reload('demo', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }, where: {
                    startTime: $('#startTime').val(),
                    endTime: $("#endTime").val(),
					type: $("#type").val()
                }
            });
        });

		//时间选择器
		laydate.render({
		  elem: '#startTime'
		  ,type: 'datetime'
		});
		laydate.render({
		  elem: '#endTime'
		  ,type: 'datetime'
		});

    })
</script>
<script type="text/html" id="optioins">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
</script>
</html>