<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<html>
<head><meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="render" content="webkit|ie-comp|ie-stand">
    <meta charset="UTF-8">
    <title>日志管理</title>
	<div th:include="inc/common-new"></div>
	<div th:include="inc/common-table"></div>
</head>
<body>
    <div id="leftBox" style="width:100%;height:100%">
        <div class="posRel wh100">
            <div class="searchBox posAbs cen">
                <div class="posRel wh100">
					<div th:include="inc/table-query"></div>
                </div>
            </div>
<!--        table公用数据html -->
			<div id="personRegis-table" th:include="inc/table-dataField"></div>
            <img src="../images/perRegis/renyuandengji_biankaungzuo.jpg" alt="" class="bgImg posAbs wh100">
        </div>
    </div>
</body>
<script type="text/javascript">
    var table = new iotTable({
        dataUrl : '/Log/queryPage.json',
        renderTo : '#personRegis-table',
        select : false,
        heads : [{
            text : '操作模块',
            width : 10,
            name : 'module',
            dicCode : 'LOG_OPT_MODULE' //需要数据字典转换的，这里填数据字典的code
            //dateFormat : 'yyyy-MM-dd'需要进行时间类型转换的，这里填时间的format
        },{
            text : '操作类型',
            width : 8,
            name : 'type',
            dicCode : 'LOG_OPT_TYPE' //需要数据字典转换的，这里填数据字典的code
        },{
            text : 'IP',
            width : 10,
            name : 'ip'
        },{
            text : '操作内容',
            width : 40,
            name : 'content'
        },{
            text : '操作时间',
            width : 15,
            name : 'createTime',
            dateFormat : 'yyyy-MM-dd hh:mm:ss'
        }],
        queryFields : [{
            text : '操作时间',
            name : 'startTime',
            type : 'date'
        },{
            text : '至',
            name : 'endTime',
            type : 'date'
        },{
            text : '操作类型',
            name : 'type',
            type : 'select',
            dicCode : 'LOG_OPT_TYPE'
       	}]
    });
    table.init();
</script>
</html>
