<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<html>
<head><meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="render" content="webkit|ie-comp|ie-stand">
    <meta charset="UTF-8">
    <title>角色管理</title>
	<div th:include="inc/common-new"></div>
	<div th:include="inc/common-table"></div>
</head>
<body>
    <div id="leftBox" style="width:100%;height:100%">
        <div class="posRel wh100">
            <div class="searchBox posAbs cen">
                <div class="posRel wh100">
                    <div class="editBox posAbs">
                        <ul class="wh100">
                            <li>
                                <div class="posRel wh100" id="addBtn">
                                    <img src="../images/perRegis/renyuandengji_bg1.png" alt="" class="bg posAbs wh100">
                                    <img src="../images/perRegis/renyuandengji_tubiao_xinzeng.png" alt="" class="typeImg posAbs mid">
                                    <span class="posAbs mid">新增</span>
                                </div>
                            </li>
                            <li>
                                <div class="posRel wh100" id="editBtn">
                                    <img src="../images/perRegis/renyuandengji_bg1.png" alt="" class="bg posAbs wh100">
                                    <img src="../images/perRegis/renyuandengji_tubiao_bianji.png" alt="" class="typeImg posAbs mid">
                                    <span class="posAbs mid">编辑</span>
                                </div>
                            </li>
                            <li>
                                <div class="posRel wh100" id="delBtn">
                                    <img src="../images/perRegis/renyuandengji_bg1.png" alt="" class="bg posAbs wh100">
                                    <img src="../images/perRegis/renyuandengji_tubiao_shanchu.png" alt="" class="typeImg posAbs mid">
                                    <span class="posAbs mid">删除</span>
                                </div>
                            </li>
                        </ul>
                    </div>
<!--                     通用高级查询html -->
					<div th:include="inc/table-query"></div>
                </div>
            </div>
<!--        table公用数据html -->
			<div id="personRegis-table" th:include="inc/table-dataField"></div>
            <img src="../images/perRegis/renyuandengji_biankaungzuo.jpg" alt="" class="bgImg posAbs wh100">
        </div>
    </div>
</body>
<script type="text/javascript">
    var table = new iotTable({
        dataUrl : '/Role/queryPage.json',
        renderTo : '#personRegis-table',
        select : false,
        heads : [{
            text : '角色名称',
            width : 15,
            name : 'roleName'
        },{
            text : '描述',
            width : 30,
            name : 'remark'
        },{
            text : '超级角色',
            width : 10,
            name : 'isSuper',
            dicCode : 'YES_NO'
        },{
            text : '排序号',
            width : 10,
            name : 'sort'
        },{
            text : '创建时间',
            width : 17,
            name : 'createTime',
            dateFormat : 'yyyy-MM-dd hh:mm:ss'
        }],
        queryFields : [{
            text : '角色名称',
            name : 'search'
        },{
            text : '超级角色',
            name : 'isSuper',
            type : 'select',
            dicCode : 'YES_NO'
        }]
    });
    table.init();
    layui.use(['layer'], function () {
        var layer = layui.layer;
        //新增
        $("#addBtn").click(function () {
            layer.open({
                type: 2,
                title: false,
                area: ['80%', '95%'],
                content: "/RoleHtml/addEdit.html"
            });
        });
        //编辑
        $("#editBtn").click(function () {
        	var dataArr=$(".table-body").find(".active");
        	if(dataArr.length==1){
        		var id=dataArr[0].getAttribute("data-id");
                layer.open({
                    type: 2,
                    title: false,
                    area: ['80%', '95%'],
                    content: "/RoleHtml/addEdit.html?id=" + id
                });
        	}else if(dataArr.length<=0){
        		layer.msg("请先选择数据");
        	}else{
        		layer.msg("只能编辑一条数据");
        	}
        });
        //删除
        $("#delBtn").click(function () {
        	var dataArr=$(".table-body").find(".active");//获取选中的数据
        	if(dataArr.length>0){
        		var ids="";
        		for(var i=0;i<dataArr.length;i++){
        			ids += dataArr[i].getAttribute("data-id")+",";//从data-id属性中取得数据ID
        		}
        		layer.confirm("是否确定删除？", function (index) {
                    layer.close(index);
                    var res=PublicAjax('/Role/removeRole.json', {"ids": ids});
                    table.loadBody();//刷新表格
                })
        	}else{
        		layer.msg("请先选择数据");
        	}
        });
    });
</script>
</html>
